@model IEnumerable<AdressBoken.Models.AdressViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div id="ManageDiv">
        @{
            Html.RenderPartial("showAddAdress", new AdressBoken.Models.AdressViewModel());
        }
    </div>
</p>
<table class="table">
    <tr>
               
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            <a href="@Url.Action("UpdateAdress",  new { AdressId = item.AdressId })">Edit</a> |    
            <a href="@Url.Action("Delete",  new { AdressId = item.AdressId })">Delete</a>   
            
        </td>
    </tr>
}

</table>
